<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div id='main_wrapper'>
        <h1>All Comments</a>
        <table>
            <tr>
                <th>Comments</th>
                <th>Products</th>
            </tr>
            <% @comments.each do |c| %>
                <tr>
                    <td><%= c.comment %></td>
                    <td><%= c.product.name %></td>
                </tr>
            <% end %>
        </table>
        <a href='/products'>Back</a>
    </div>
</body>


</html>
